

#section__1 {

    
    width: 100%;
    height: 900px;
    background: linear-gradient(#757F9A, #D7DDE8);
}
.nav {

    
    height: 40px;
    text-align: center;
    font-family: 'Poppins';
}

#nav__a {

    display: inline-block;
    
    margin-right: 20px;
    font-size: 20px;
    padding-top: 20px;
    color: white;
    text-decoration: none;
}


#nav__a:hover {
    color:lightcoral;
    transition: 0.2s;
}


.section__1__item {

    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

.img1 {

    border-radius: 10px;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.section__1__text {
    
    font-family: 'Poppins';
    color: white;
    width: 500px;
    align-items: center;
}

.section__1__title::after {

    display: block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: lightcoral;
    
}

.section__1__p {
    margin-top: 20px;
    font-size: 20px;
}

#section__2 {

    width: 100%;
    height: 900px;
    background: linear-gradient(#D7DDE8, #757F9A);
}

.section__2__item {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section__2__title::after {

    display: block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: lightcoral;
}

.section__2__p {

    width: 500px;
    color: white;
    font-family: 'Poppins';
}

.img2 {

    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.education__item {

    
    height: 150px;
    width: 1330px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
    
    
}

.img3 {

    border-radius: 50%;
}

.img4 {

    border-radius: 50%;
}

.img5 {

    border-radius: 50%;
}

.education__item__1 {

    text-align: center;
    
}

.education__item__2 {

    text-align: center;
}

.education__item__3 {

    text-align: center;
}

.education__a {

    text-decoration: none;
    color: white;
    font-size: 20px;
}

.education__a:hover {

    color: lightcoral;
    transition: 0.2s;
}

#section__3 {

    width: 100%;
    height: 900px;
    background: linear-gradient(#757F9A, #D7DDE8);
}

.section__3__title {

    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    color: white;
    font-style: bold;
    padding-top: 50px;
    
}

.section__3__title__h2::after {

    display: block;
    content: "";
    width: 300px;
    height: 3px;
    background-color: lightcoral;
    margin-left: 520px;
    margin-top: 30px;
}

.work {

    display: flex;
    justify-content: space-around;
}

.work__item {
    
    height: 550px;
    width: 350px;
    text-align: center;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 30px;
}


.img6 {

    margin-top: 30px;
    border-radius: 10px;
}

.img7 {

    margin-top: 30px;
    border-radius: 10px;
}

.img8 {

    margin-top: 30px;
    border-radius: 10px;
} 

.work__a {

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
}

.work__a:hover {

    color: lightcoral;
    transition: 0.2s;
}

.work__a::after {

    display: block;
    content: "";
    width: 70px;
    height: 3px;
    background-color: lightcoral;
    margin-left: 140px;
}

.work__ul {

    text-align: left;
    font-family: 'Poppins';
}

.work__title {

    color: white;
    font-family: 'Poppins';
    font-size: 15px;
}

.work__ul {

    color: white;
    font-family: 'Poppins';
    font-size: 15px;
}

#section__4 {

    width: 100%;
    height: 900px;
    background: linear-gradient( #D7DDE8, #757F9A);
}

.section__4__title {

    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
    padding-top: 250px;
    font-style: bold;
}

.section__4__title__h2::after {

    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: lightcoral;
    margin-left: 610px;
    margin-top: 10px;
}

.section__4__item {

    display: flex;
    justify-content: center;
}

.section__4__p {

    font-family: 'Poppins';
    color: white;
    width: 1200px;
    text-align: center;
    font-size: 20px;
}

#section__5 {

    width: 100%;
    height: 900px;
    background: linear-gradient(#757F9A, #D7DDE8 );
}

.section__5__title {

    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
    padding-top: 150px;
    font-style: bold;
}

.section__5__title__h2::after {

    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: lightcoral;
    margin-left: 610px;
    margin-top: 10px;
}

.gallery {

    max-width: 100%;
    display: flex;
}

.gallery__photo {   

    
    text-align: center;
}

.img__gallery {

    margin: 10px;
    border-radius: 10%;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#section__6 {

    width: 100%;
    height: 900px;
    background: linear-gradient( #D7DDE8, #757F9A );
}

.section__6__title {

    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
    padding-top: 500px;
    font-style: bold;
}

.section__6__title__h2::after {

    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: lightcoral;
    margin-left: 610px;
    margin-top: 10px;
}

.contact__item {

    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.contact__1 {

    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    color: white;
    font-size: 30px;
}

.contact__1:hover {

    color: lightcoral;
    transition: 0.2s;
}

#footer {

    width: 100%;
    height: 300px;
    background: linear-gradient( #757F9A, #D7DDE8 );
}

.footer__item {

    justify-content: center;
    
    
}

.footer__a {

    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
    padding-top: 150px;
    font-style: bold;
    display: block;
    text-decoration: none;
}

.footer__a:hover {

    color: lightcoral;
    transition: 0.2s;
}